@import "reset";
@import "vars";

$gradientColor1: #5c4d7d;  
$gradientColor2: #455e89;  
$gradientColor3: #2e6f95;

#home {
    width:100vw;
    display:grid;
    grid-template-rows: 1fr 30fr;
    font-family: 'Montserrat', sans-serif;
    
    header {
        text-transform:uppercase;
        background-color:#403657;
        color:#ffffff;
        font-size:1.8em;
        font-weight:700;
        height:8vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    
    main {
        width:100vw;
        height:200vh;
        background:linear-gradient($gradientColor1, $gradientColor2, $gradientColor3);
        
        #haut {
            display:grid;
            grid-template-columns: 1fr 3fr 1fr;
            height:70%;
        }
    }
}